name: "Terraform"

on:
  push:
    branches:
      - main
    paths:
      - '*.tf'
      - '*.tfvars'
      - '.github/workflows/terraform.yml'
  pull_request:
    branches:
      - main
    paths:
      - '*.tf'
      - '*.tfvars'
      - '.github/workflows/terraform.yml'

env:
  TF_VERSION: "1.14.1"

  # GitHub metadata (captured once)
  GH_ACTOR: ${{ github.actor }}
  GH_EVENT_NAME: ${{ github.event_name }}
  GH_REF: ${{ github.ref }}
  GH_REF_NAME: ${{ github.ref_name }}

jobs:
  terraform:
    name: "Terraform"
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write
      actions: read
      id-token: write

    defaults:
      run:
        working-directory: .

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@7474bc4690e29a8392af63c5b98e7449536d5c3a
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
          role-duration-seconds: 3600

      - name: Verify AWS Credentials
